@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
    color: #dc2626 !important; /* Tailwind red-600 */
    transition: all 0.3s ease;
    height: 50px !important;
    width: 50px !important;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    backdrop-filter: blur(5px);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #dc2626;
    color: white !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem !important;
    font-weight: bold;
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
    background: #dc2626 !important;
    opacity: 1 !important;
}